
* {
    box-sizing: border-box;
}
body {
    background: #2c2b38;
    text-rendering: optimizeLegibility;
}
.fixedTop {
    position: fixed;
    z-index: 2000;
    font-family:'IBM Plex Sans', sans-serif;
    padding: 20px;
    width: 100vw;
}
.logo {
    float: left;
    width:200px;
    color: #fff;
    padding: 1px 20px;
    text-transform: uppercase;
    font-size: 1.2em;
}
ul li {
    display: inline;
}
.fixedTop ul li a {
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: .9em;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}
.fixedTop ul li a:hover {
    background: #fff;
    color: grey;
}
.focus {
    border: 1px #fff solid;
}
.nav {
    float: right;
}
header {
    height:100vh;
    overflow: hidden;
    position: relative;
}
.bg {
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.absolute {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}
.coverText {
    position: absolute;
    width: 100%;
    height: auto;
    padding-top: 35vh;
}
.coverText h2 {
    text-align: right;
    padding: 0 100px;
    font-size: 5vw;
    color: #fff;
}
.coverText p {
    text-align: right;
    padding: 30px 100px 0 60%;
    font-size: 1.4em;
    color: #fff;
}
.content {
    color: #fff;
    background: #2c2b38;
    height: 100vh;
    z-index: 1900;
}


h2 {

    font-family: 'Righteous', cursive;
}
.grid {
    width: 70%;
    margin: 0 auto 80px;
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    line-height: 1.8em;
}
.grid h2 {
    font-size: 2.5em;
    line-height: 1.4em;
}
.grid p {
    font-size: 1.1em;
    padding-top: 1.8em;
}

@media only screen and(max-width: 1024px) {
    .coverText {
        padding-top: 20vh;
    }
    .coverText h2 {
        padding: 0 60px;
        font-size: 8vw;
    }
    .coverText p {
        text-align: right;
        padding: 30px 60px 0 50%;
        font-size: 1.6em;
    }
}

/* RESPONSIVE */

@media only screen and (max-width: 699px) {
    
    .nav {
        margin-top: 40px;
        position: fixed;
    }
    .focus{
        opacity: 20%;
    }
    
     .coverText {
        margin-top: 20vh;
    padding: 15px 30px 0 25%;
      z-index: 4000;
      font-size: .8.5em;
    }
    .texts{
        position: absolute;
        text-align: left;
        font-size: .9em;
        padding-right: 25px;
        z-index: 9999;
    }
    h2 {
        padding-bottom: 15px;
    }
    .imgresponsive {
        width: 280px;
        height: 400px;
        position: relative;
    }
  }